<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="style.css">
  <head>
    <title>New Page</title>
  </head>
  <body>
    <h1>New Page Title</h1>
    <p>Contents of page</p>

    <ul>
      <li>Unordered List 1</li>
      <li>Unordered List 2</li>
      <li>Unordered List 3</li>
    </ul>

    <ol>
      <li>Ordered List 1</li>
      <li>Ordered List 2</li>
      <li>Ordered List 3</li>
    </ol>

    <dl>
      <dt>Tag 1</dt>
      <dd>Definition 1</dd>
      <dt>Tag 2</dt>
      <dd>Definition 2</dd>
      <dt>Tag 3</dt>
      <dd>Definition 3</dd>
    </dl>
    
  </body>
</html>